// Place all the styles related to the admin::labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-labs.a-index {
  table {
    width: 100%;
  }
}

.selections.referees {
    margin-top: 30px;
    text-align: center;
}
