.row
  .columns.large-12
    = render "breadcrumbs"
    - title "Tools"
    - 10.times do
      = render @tools

    - if current_or_null_user.can_create?(Tool)
      = link_to "New Tool", new_tool_path
