.container
  .row
    .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
      = title "Recovery link sent"
      %p.alert.alert-warning If we found a matching account, then the recovery instructions should appear in your inbox soon.
