= title "Reset Your Password"

.row
  .col-md-12.box
    = simple_form_for @recovery do |f|
      -# = render "form_errors", resource: @recovery
      = f.input :email
      = f.submit 'Reset Password', class: 'btn btn-primary'
