# Only docker-compose uses this file.
RAILS_ENV=development

# Where postgres is located. In docker it's in a container called 'db'
# Used in config/database.yml
DEV_DB_HOST=db

REDIS_URL=redis://redis:6379/12
MEMCACHED_HOST=memcached://memcached:11211/

# Web container: needs a DNS name and MY_STAGE=production in order to request the SSL certificate
MY_DOMAIN=staging.fablabs.io -> http://app:3000
MY_STAGE=local
#MY_STAGE=production
