# Only docker-compose uses this file.
RAILS_ENV=development

# Where postgres is located. In docker it's in a container called 'db'
# Used in config/database.yml
DEV_DB_HOST=db
DEV_DB_USERNAME=postgres

REDIS_URL=redis://redis:6379/12

VIRTUAL_HOST=www.fablabs.local,api.fablabs.local
VIRTUAL_PORT=3000
LETSENCRYPT_HOST=api.fablabs.local,api.fablabs.local
LETSENCRYPT_EMAIL=hello@gmail.com

# Production db uses this in config/database.yml
DB_HOST=db
DB_NAME=fablabs
DB_PASSWORD=
DB_USERNAME=postgres

TEST_DB_HOST=db
TEST_DB_USERNAME=postgres

SECRET_TOKEN=CREATE_A_RANDOM_STRING_HERE!!!!!
#google maps api key
GOOGLE_API_KEY=YOUR_KEY_HERE
