# Only docker-compose uses this file.
RAILS_ENV=development

# Where postgres is located. In docker it's in a container called 'db'
# Used in config/database.yml
DEV_DB_HOST=db

REDIS_URL=redis://redis:6379/12
MEMCACHED_HOST=memcached://memcached:11211/

VIRTUAL_HOST=www.fablabs.local,api.fablabs.local
VIRTUAL_PORT=3000
LETSENCRYPT_HOST=api.fablabs.local,api.fablabs.local
LETSENCRYPT_EMAIL=hello@gmail.com

