- title "Employees at #{@lab}"
.row
  .columns.large-12
    = render "labs/breadcrumbs", lab: @lab
.row
  .columns.large-6
    %h4 Approved Employees
    = render @lab.employees.active

  .columns.large-6
    %h4 Unverified Employees
    = render @lab.employees.with_unverified_state
