.row
  = title "Start a new Discussion"
  .columns.large-2
    -# = cropped_image_tag current_user.avatar, 100
  .columns.large-10

    = render "form", discussion: @discussion, discussable: @discussable
