Hi #{@user.first_name},

Your lab #{@lab}, was approved by one of the designated referees. -

You will receive more information soon.

You can check your lab profile at:

\#{lab_url(@lab)}

If you have questions regarding the approval process for fablabs, you can check the following doc:

\"http://www.fablabs.io/labs/docs/approval_process"
