Hi #{@user.first_name},

Unfortunately your lab #{@lab}, was rejected. We'll contact you with further details. -

If you have questions regarding the approval process for fablabs, you can check the following doc:

\"http://www.fablabs.io/labs/docs/approval_process"
