Hi #{@user.first_name},

your lab #{@lab} was submitted for admin approval. This means that one of the designated referees
has request the platform admin to decide if the lab shall be approved or not.

You can check your lab profile at:

\#{lab_url(@lab)}

If you have questions regarding the approval process for fablabs, you can check the following doc:

\"http://www.fablabs.io/labs/docs/approval_process"
