Hi #{@user.first_name},

Thanks for submitting #{@lab}.
We have recently updated our approval process since we noticed this was taking too long.
Your lab has now been reset and its state is "unverified".
You can check your lab profile at:

\#{lab_url(@lab)}

Go to edit to choose 3 referees lab. Also take this opportunity to add more information to the slug and description fields of the lab form so that we can learn more about your Fablab. -

If you have questions regarding the approval process for fablabs, you can check the following doc:

\"http://www.fablabs.io/labs/docs/approval_process"

I hope the new approval process will help new labs get faster on the fablabs.io platform.

-
