- title "Search"
.container.mt-5

  - if @labs.size > 0
    %h4 Labs
    = paginate @labs, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"
    .labs= render @labs

  - if @users.size > 0
    %h4.mt-4 Users
    .users= render @users
    = paginate @users, theme: 'twitter-bootstrap-4', nav_class: "m-auto pt-3"

  - if @results.empty?
    %p We could not find what you were looking for. Maybe you can try again.
