- title "Labs"
.container
  .row
    .col-lg-8.content
      .mt-5
        %p
          We have recently redesigned the fab lab approval process to minimise the waiting time
          for labs to get approved.
        %p
          Each new lab need to go through the referee approval process in order to get approved on the platform.
        %p
          Each lab, need to select three referees lab during the application process. These are trusted labs on our platform.
          Please note that you can, but you do not have to necessarily select , labs close to you geographically.
        %p
          Referees might request more info about the lab. In this case you will receive an email inviting you to add more content to some sections of the lab form.
        %p
          Referees can also send a lab for admin approval. In this case, it will be up to the platform admins to approve or not the new lab.
        %p
          When submitted, is first assigned the "unverified" state. If one of the referee gives their first approval the lab is moved into the "referee approval" state.
        %p
          If the referee rejects, the lab is moved to the "might need review" state. Being in one of the two states doesn't guarantee approval, nor means that the lab will be rejected.
        %p
          The lab will be rejected or approved depending on the vote of the other referees and always need to be approved by 2/3 or the referees in order to be recognised as a fablab.
        %p
          The following image describe the approval process as a simplified state machine.
