Hi #{@user.first_name},

You have requested more information for lab #{@lab}. We have forwarded your request to the lab creator.

You can check the lab information here:

\#{backstage_lab_url(@lab)}. -
