.row
    .homepage-banner.col-12
        .container
            %h1.text-center New projects section
            %br
            .homepage-figure
                %a{:href=>"https://projects.fablabs.io"}= image_tag image_url('home/wikifactory.jpg'), alt: 'projects.fablabs.io', class: 'img-fluid'
            .homepage-spacer-lg
            .text-center
                .text-medium 
                    %span New 
                    %a{:href=>"https://projects.fablabs.io",:style=>"color:white"} projects.fablabs.io
                .text-large Collaborate on projects from Fablabs around the world
