.container
  %h1.text-center New projects section
  %br
  .shadow
    %a{href: "https://projects.fablabs.io", target: '_blank'}= image_tag image_url('home/wikifactory.jpg'), alt: 'projects.fablabs.io', class: 'img-fluid'
  .text-center.mt-5
    %h5
      %span New
      %a{href: "https://projects.fablabs.io", target: '_blank', class: 'text-white'} projects.fablabs.io
    .text-large Collaborate on projects from Fablabs around the world
