%h1.my-5.text-center.text-red-3 Corona outbreak
%p Over the past few weeks, we have been so heartened to see your strength, innovation and willingness to act and collaborate in responding to the COVID-19 pandemic. We feel very fortunate to be a part of this global community of such passionate and dynamic change from fabbers worldwide.

%h4.text-primary.font-weight-bold Link to resources
.homepage-divider.ml-0
%ul.homepage-features-list.list-unstyled
  %li
    = link_to "https://gitlab.fabcloud.org/pub/project/coronavirus/tracking", "https://gitlab.fabcloud.org/pub/project/coronavirus/tracking", target: '_blank'
