.row.homepage-events
  .container
    .row
      .col-12
        %h3.text-primary Fablab Network Events
    .row
      - @news.each do |a|
        .col-12.col-md-4
          .homepage-event-card
            %a{:href => a[:url]}=image_tag (image_url(a[:image_url])), :class => "homepage-project-card-image", :target=>"_blank"
            %h5
              %a{:href => a[:url]}= a[:title]
            .text-small
              = raw a[:description]