.container
  .row
    .col-12.col-md-6.mb-5
      .card.shadow.w-100.h-100.p-5
        .text-large.text-primary News from the Fablab network
        %h5.mb-5 What is a Fab Lab in 3 words? 10 years later!

        %iframe{:width=>"100%", :height=>"315", :src=>"https://www.youtube.com/embed/VKDEvtdW9TU?controls=0", :frameborder=>"0", :allow=>"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "true"}
    .col-12.col-md-6.mb-5
      .card.shadow.w-100.h-100.p-5
        .text-large.text-primary New Fablabs
        %h5.mb-5 Discover new labs that recently joined the network

        .container-fluid
          .row
            - @recent_labs.each do |lab|
              .col-4.mb-5
                = link_to lab do
                  .text-center
                    = image_tag lab.avatar.thumb('96x96#').url, class: 'small avatar', itemprop: "logo"
                    .text-small.text-center{itemprop: "name",:style =>"white-space: nowrap"}= truncate(lab.name,length: 15)
