<!DOCTYPE html>
<html>
  <head>
    <title>Maintenance</title>
    <style type="text/css">
    html, body {
      background-color: #CCC;
      font-family: Verdana, Helvetica, Arial;
      font-size: 14px;
    }

    a {
      color: #0000FF;
      img { border: none; }
    }

    #container {
      width: 80%;
      margin: 0 auto;
      background-color: #FFF;
      padding: 20px 40px;
      margin-top: 20px;
    }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>The system is down for <%= reason ? reason : "maintenance" %></h1>
      <p>It will be back <%= deadline ? deadline : "soon" %></p>
    </div>
  </body>
</html>
