.row
  .columns.large-12
    .media
      .pull-left= image_tag @user.avatar
      .media-body= title @user


.row
  .columns.large-4
    %h4 Biography
    = simple_format Faker::Lorem.paragraph
    .joined-on
      Joined #{@user.created_at}