.nested-fields
  .row
    .col-md-10.col-lg-11= f.input :url, label: false, placeholder: 'https://www.youtube.com/watch?v=bO-Dvm5OTuU'
    .col-md-2.col-lg-1= link_to_remove_association "x", f, class: 'btn btn-danger'
