.row
  .columns.large-4
    %label
      Labs collaborations
    .contributors-container
      .icon
        %span
          = icon('map-marker')
    .contributors
      - @project.collaborations.each do |c|
        - if c.collaborator.present?
          = link_to "x", collaboration_path(c), method: :delete
          = image_tag hocho(c.collaborator.avatar, "o=t&q=80&d=90x90"), class: 'avatar tiny'

  .columns.large-8
    - @selected = @project.collaborators.collect
    = select_tag :collaborations_attributes, options_from_collection_for_select(@selected, :id, :slug), { multiple: true, size: 10, name: 'project[collaborations_attributes][][collaborator_id]'}
