- cache ["v1", Project.last_updated_at] do
  .row
    .columns.large-12
      = render "breadcrumbs"
      - title "Projects"
  .row
    .columns.large-12
      .panel
        %p We are currently in the process of adding content to this page to create a directory alongside the Fab Lab list. Soon you will be able to add new projects, edit existing ones, assign them to Fab Labs and start discussions about them.

      %ul#project-container.large-block-grid-3.medium-block-grid-3.small-block-grid-1= render @projects

      - if current_user
        = link_to new_project_path, class: "button tiny success" do
          = fa_icon "plus", text: t("views.projects.index.new_project", default: "New project")
