.row
  .columns.large-12
    = title "API"
    %p Welcome to the API. It is currently READ-ONLY.

    %p
      You can see a JSON list of labs here - #{link_to "http://api.fablabs.io/1/labs", "http://api.fablabs.io/1/labs"}