.row
  .columns.large-12
    = title "Cookie policy"

    %h2 Why this page?

    %p This page informs you regarding our policies in managing your personal data through the use of cookies on this website. Use of <strong>Fablabs.io</strong>'s website and any of the services it offers implies the full acceptance of the conditions stipulated by the following Cookie Policy

    %p The European Union <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML">ePrivacy directive</a> – more specifically Article 5(3) – requires prior informed consent for storage for access to information stored on a user's terminal equipment. In other words, each website that uses <em>cookies</em> must ask users if they agree to most <em>cookies</em> and similar technologies before the site starts to use them.

    %h2 What are cookies?

    %p A <em>cookie</em> is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another. <strong>To make this site work properly</strong>, we sometimes place small data files called cookies on your device. Most big websites do this too.

    %h2 Cookies in Fablabs.io

    %p The cookies used by this website do not allow <strong>Fablabs.io</strong> to gather users’ personal information or to undertake user profiling activities. Data are gathered solely to process anonymous statistical information about the way the website is used, and to verify that the website is working as it should.

    %p <strong>Fablabs.io</strong> uses some statistical cookies to gather anonymous information on the number and behaviors of users visiting the website, using Google Analytics <a href="http://www.google.com/intl/en_en/policies/technologies/cookies/">(you can read Google Analytics' privacy policy here)</a>. In order to protect users’ privacy, we use the service in <em>“_anonymizeip”</em> mode, <a href="https://support.google.com/analytics/answer/2763052?hl=en">which makes the IP addresses of users browsing the website anonymous</a>. The IP anonymization/masking takes place as soon as data is received by the Google Analytics Collection Network, before any storage or processing takes place.

    %p <strong>Fablabs.io</strong> may use technical cookies in its comment system, which is based on <a href="http://www.discourse.org/">Discourse</a>.

    %h2 How to manage cookies

    %p You can manage and delete cookies easily in your browser settings - to learn more about cookies and how to delete or block them, visit <a href="http://www.aboutcookies.org/">AboutCookies.org</a>. <strong>Please note</strong> that disabling cookies might affect the functionality of this website. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work. For specific browsers, here are the instructions on how to disable or manage cookies:
    %ul
      %li <a href="https://support.google.com/chrome/answer/95647">Google Chrome</a>
      %li <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a></li>
      %li <a href="https://www.apple.com/legal/privacy/it/cookies/">Apple Safari</a>
      %li <a href="http://windows.microsoft.com/en-GB/internet-explorer/delete-manage-cookies#ie=ie-11">Microsoft Windows Explorer</a></l

    %h2 Privacy Policy

    %p The full Privacy Policy of <strong>Fablabs.io</strong> can be accessed <a href="privacy-policy/">here</a>.

    %h2 Terms of Service

    %p The full Terms of Service of <strong>Fablabs.io</strong> can be accessed <a href="tos/">here</a>.

    %h2 Version and contact information

    %p This Cookie Policy was last revised on <em>November 16th 2016</em>. As soon as improvements to the <strong>Fablabs.io</strong> website will be introduced, this page will be updated. If you need more information regarding the Terms of Service, the Privacy Policy and the Cookie Policy at <strong>Fablabs.io</strong> you can write us at <a href="mailto:webmasters@fablabs.io">webmasters@fablabs.io</a>.
