.row
  .columns.large-12
    = title "Privacy policy"

    %h2 Why this page?

    %p This page informs you regarding our policies in managing your personal data through the use of this website. Use of <strong>Fablabs.io</strong>'s website and any of the services it offers implies the full acceptance of the conditions stipulated by the following Privacy Policy.

    %h2 Data storage

    %p According to the Law 15/1999, of December 13, Protection of Personal Data, we inform you that any personal data requested in our forms or that may be supplied to us by means of our email addresses will be added to our personal data files owned by <a href="http://www.iaac.net">INSTITUT d’ARQUITECTURA AVANÇADA DE CATALUNYA</a>, Fundació Privada, whose purpose is to maintain contact with you.

    %h2 Exercising the right to access, rectify, cancel or oppose the personal data held on file

    %p You may exercise your rights of access, rectification, cancellation and opposition by sending a written request accompanied by a photocopy of your ID/passport to the following address: <a href="mailto:info@iaac.net">info@iaac.net</a>.

    %h2 Cookies

    %p The European Union <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML">ePrivacy directive</a> – more specifically Article 5(3) – requires prior informed consent for storage for access to information stored on a user's terminal equipment. In other words, each website that uses <em>cookies</em> must ask users if they agree to most <em>cookies</em> and similar technologies before the site starts to use them. The full cookie policy of <strong>Fablabs.io</strong> can be accessed <a href="cookie-policy/">here</a>.

    %h2 Version and contact information

    %p This privacy policy was last revised on <em>November 11th 2016</em>. As soon as improvements to the <strong>Fablabs.io</strong> website will be introduced, this page will be updated. If you need more information regarding the privacy policy and the cookies in use at <strong>Fablabs.io</strong> you can write us at <a href="mailto:webmasters@fablabs.io">webmasters@fablabs.io</a>.
