.container
  .row
    .col-lg-12
      = title "Terms of Service"

      %h2 Terms of use

      %p By using the Platform you acknowledge, accept and agree these Terms of Use and the <a href="cookie-policy/">Cookie Policy</a> and <a href="privacy-policy/">Privacy Policy</a>.

      %h3 1. Your relationship with Fablabs.io

      %p 1. Please note that your use of the Fablabs.io website at <a href="https://www.fablabs.io">www.fablabs.io</a> and any possible software or tool provided to you for the access/registration to and/or the use of the website <strong>(hereinafter the "Platform")</strong> is subject to the terms of a legal agreement between you and FAB LAB NETWORK SL, Pujades 102 baixos, Poble Nou, 08005 Barcelona, Spain and <a href="http://fabfoundation.org/">FAB FOUNDATION</a>, 50 Milk St., 16th Floor, Boston, MA 02109, USA (hereinafter "Fablabs.io")</strong>.

      %p 2. The legal agreement between you and Fablabs.io governing the use of the Platform is made up of the terms and conditions set out in this document <strong>(hereinafter the "Terms of Use")</strong> and the Fablabs.io's <a href="cookie-policy/">Cookie Policy</a> and <a href="privacy-policy/">Privacy policy</a> <strong>(hereinafter the "Cookie and Privacy Policy")</strong> (collectively called the "Terms").

      %p 3. The Terms form a legally binding agreement between you and Fablabs.io in relation to your use of the Platform. It is important that you take the time to read them carefully.

      %p 4. The Terms apply to all users of the Platform.

      %h3 2. Accepting the Terms

      %p 1. The Terms constitute a contract between you and Fablabs.io. If you do not agree to these Terms, you do not have the right to access or use the Platform.

      %p 2. If you do use the Platform, your use shall be deemed to confirm your acceptance of the Terms and your agreement to be a party to this binding contract.

      %p 3. You should print off or save a copy of the Terms for your records.

      %h3 3. Changes to the Terms

      %p 1. Fablabs.io reserves the right to make changes the Terms from time to time, for example to address changes to the law or regulatory changes or changes to functionality offered through the Platform.

      %p 2. If such changes occur, Fablabs.io will do its best to provide you with advance notice, although in some situations, such as where a change is required to satisfy applicable legal requirements, an update to these Terms may need to be effective immediately. Fablabs.io will announce changes directly on the Platform and it also may elect to notify you of changes by sending an email to the address you have provided to it. In any case, the revised version of Terms of Use will be always accessible at <a href="tos/">Terms of use</a> and the revised version of the <a href="cookie-policy/">Cookie Policy</a> and <a href="privacy-policy/">Privacy policy</a>.

      %p 3. If Fablabs.io does update the Terms, you are free to decide whether to accept the revised terms or to stop using the Platform. Your continued use of the Platform after the date the revised Terms are posted will constitute your acceptance of these new Terms.

      %p 4. You understand and agree that You are solely responsible for periodically reviewing the Terms.

      %p 5. Except for changes made by Fablabs.io as described above, no other amendment or modification of these Terms shall be effective unless set forth in a written agreement bearing a written signature by you and Fablabs.io. For clarity, email or other communications will not constitute an effective written agreement for this purpose.

      %h3 4. Fablabs.io Platform Description

      %p 1. The Fablabs.io Platform is born as part of a project within Fab Lab Barcelona (<a href="http://fablabbcn.org">www.fablabbcn.org</a>), here Fab Lab Network SL in collaboration with the Fab Foundation (<a href="http://fabfoundation.org/">www.fabfoundation.org</a>).

      %p 2. The Fablabs.io project is the official platform for the Fab Lab Network, where Fab Labs are mapped, knowledge is shared, projects are developed and where the community discuss these topics. The Fab Lab Network is an open, creative community of fabricators, artists, scientists, engineers, educators, students, amateurs, professionals, ages 5 to 75+, located in more than 40 countries in approximately 1000 Fab Labs.

      %p 3. In order to upload and share information regarding Fab Labs, events and projects and participate in the discussion it is necessary to register and create a Fablabs.io account.

      %h3 5. Creating a Fablabs.io account

      %p 1. In order to use the Platform, you need to create a Fablabs.io account. You create an account by providing Fablabs.io with username and email address and creating a password <strong>(hereinafter "Account Information”)</strong>.

      %p 2. You are the only responsible for maintaining the accuracy, completeness and confidentiality of your Account Information, and you will be responsible for all activities that occur under your account, including activities of others to whom you have provided your Account Information. Fablabs.io is not be liable for any loss or damage arising from your failure to provide accurate information or to keep your Account Information secure. If you discover any unauthorized use of your Account Information or suspect that anyone may be able to access your private Content, you should immediately change your password and notify the Customer Support team at the following address <a href="mailto:webmasters@fablabs.io" class="about">webmasters@fablabs.io</a>.

      %h3 6. Using the Platform and uploading Content

      %p 1. Your use of the Platform shall be in accordance with these Terms. You agree that you are the only responsible for your own conduct and all conduct under your account.

      %p 2. Once your account is created and you accept these Terms, we grant you a limited, non-exclusive license to use the Platform subject to these Terms, for so long as you are not barred from using the Platform under the laws applicable to you, until you voluntarily close your account or until we close your account pursuant to these Terms. You do not obtain any other right or interest in the Platform.

      %p 3. In order to upload and share information regarding Fab Labs, events and projects and participate in the discussion it is necessary to register and create a Fablabs.io account.

      %p 4. You agree that you are the sole responsible as the person who created the Content or introduced it into the Platform. This applies whether the Content is kept private, shared or transmitted using the Platform or any third party application or services integrated with the Platform.

      %p 5. Fablabs.io is not liable for the Content or accuracy of any information, and shall not be responsible for any acts taken or decisions made based on such information.

      %p 6. Fablabs.io does not select or screen Content, and does not review, test, confirm, approve or verify any user data or Content or the accuracy of it. Fablabs.io access to/storing of/use of Content does not imply or create any liability on the part of it. However, Fablabs.io reserves in some circumstances the right to edit, limit or remove any such Content in its sole discretion and will not be responsible for any Content deleted or for your inability to submit any Content.

      %h3 7. Restricted use of the Platform

      %p 1. You agree not to use the Platform for any illegal purpose nor to post, distribute, or otherwise make available or transmit any data, software or other computer files that (i) contain a virus, trojan horse, worm or other harmful or destructive component, (ii) infringe third parties' rights (intellectual property rights and personal rights).

      %p 2. You agree not to alter or modify any part of the Platform and its related technologies nor to (or attempt to) circumvent, disable or otherwise interfere with any security related features of the Platform.

      %p 3. You agree not to distribute any part of or parts of the Platform, including but not limited to any Content, in any medium without Fablabs.io's prior written authorisation, unless Fablabs.io makes available the means for such distribution through functionality offered by the Platform. You also agree not to access Content through any technology or means other than those Fablabs.io may explicitly designate for this purpose.

      %p 4. You agree not to massively collect or harvest or use Content or any other data available thought the platform (including users' data such as account names), unless you agree on keeping all generated analysis data sets open and available on the Platform.

      %p 5. You agree not to use the Platform or any data available through the platform for commercial use unless you obtain Fablabs.io's prior written approval nor to solicit, for such commercial purposes, any users of the Platform with respect to their Content.

      %p 6. You agree that you are solely responsible for (and that Fablabs.io has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences of any such breach.

      %h3 8. Content rights and licenses

      %p 1. You retain copyright and any other rights you already held in your Content before you submitted, posted or displayed it on or through the Platform. Other than the limited license and other rights you grant in these Terms, Fablabs.io acknowledges and agrees that it do not obtain any right, title or interest from you under these Terms in any of your Content.

      %p 2. By using the Platform and uploading you grant Fablabs.io a limited license in order to make your data accessible and usable on the Platform. Thus, you grant Fablabs.io a license to display, execute, and distribute any of your Content and to modify for technical purposes and reproduce such Content to enable Fablabs.io to operate the Platform. You also agree that Fablabs.io has the right to elect not to accept, post, execute, store, display, publish or transmit any Content. You agree that these rights and licenses are royalty free, irrevocable and worldwide (for so long as your Content is accessible on the Platform), and include a right for Fablabs.io to make such Content available to, and pass these rights along to, others with whom this latter has contractual relationships related to the provision of the Platform, solely for the purpose of providing Platform's services, and to otherwise permit access to or disclose your Content to third parties if it determines such access is necessary to comply with its legal obligations.

      %p 3. Except as described in these Terms of Use, unless you elect to enable others to view or have access to the Content you submit to the Platform, no one else should see your Content without your consent. Of course, if you do elect to publish or share any portion of your Content by creating a feed of information, or creating a webservice to publish Content, then you would be enabling each of those permitted users to access, use, display, perform, distribute and modify your Content. In addition, Fablabs.io enables you to use a variety of third party services and applications that interact with the Platform and your Content, and you should review the access rights you provide to those services or applications, as you may enable them to access your Content through your agreements with those parties.

      %p 4. You also represent and warranty that, by submitting Content to the Platform and granting Fablabs.io the rights described in these Terms, you are not infringing the rights of any person or third party.

      %h3 9. Changes to the Platform

      %p 1. We retain the right, in our sole discretion, to implement new elements as part of and/or ancillary to the Platform, including changes that may affect its previous mode of operation.

      %p 2. We also reserve the right to establish limits to the nature or size of storage available to you, the number of transmissions and email messages, execution of you program code, your Content and other data, and impose other limitations at any time, with or without notice.

      %p 3. You agree that Fablabs.io has no responsibility or liability as a result of, without limitation, the deletion of, or failure to make available to you, any Content. You agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of any part of the Platform.

      %h3 10. Termination

      %p 1. You may close your Platform account at any time, for any reason (or no reason), and you do not even have to give us notice.

      %p 2. Fablabs.io may suspend access to your account, or close your account according to these Terms. Reasons for Fablabs.io suspending or closing your account may include, without limitation: (i) breach or violation of these Terms or any other agreement between you and Fablabs.io and related to the use of the Platform, (ii) the discontinuance or material modification of the Platform (or any part thereof) or (iii) unexpected technical or security issues or problems. In most cases, in the event we elect to close your account, we will provide at least 30 days advance notice to you at the email address you have provided at the creation of the account. After the expiration of this notice period, you will no longer be able to retrieve Content contained in that account or otherwise use the Platform through that account.

      %p 3. Fablabs.io shall not be liable to you or any third party for termination of the Platform.

      %p 4. All disclaimers, limitations of warranties and damages, and confidential commitments set forth in these Terms of Use or otherwise existing at law survive any termination, expiration of these Terms of Use.

      %h3 11. Third-Party Links, applications or APIs

      %p 1. We may include or recommend third party resources, materials and developers and/or links to third party websites and applications as part of, or in connection with, the Platform. We have no control over such sites or developers and, accordingly, you acknowledge and agree that (i) we are not responsible for the availability of such external sites or applications; (ii) we are not responsible or liable for any content or other materials or performance available from such sites or applications and (iii) we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, materials or applications.

      %h3 12. Indemnity

      %p 1. You agree to indemnify and hold Fablabs.io, its subsidiaries, affiliates, officers, agents, employees, advertisers and partners harmless from and against any and all claims, liabilities, damages (actual and consequential), losses and expenses (including legal and other professional fees) arising from or in any way related to any third party claims relating to your use of any of the Platform, any violation of these Terms of Use or any other actions connected with your use of the Platform (including all actions taken under your account). In the event of such claim, we will provide notice of the claim, suit or action to the contact information we have for the account, provided that any failure to deliver such notice to you shall not eliminate or reduce your indemnification obligation hereunder.

      %h3 13. The Platform is Available “As Is.”

      %p 1. The Platform is Available “As Is.” YOU EXPRESSLY UNDERSTAND AND AGREE THAT:

      %p 1.1. YOUR USE OF THE PLATFORM IS AT YOUR SOLE RISK. THE PLATFORM IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW, Fablabs.io EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT;

      %p 1.2. Fablabs.io DOES NOT WARRANT THAT (i) THE PLATFORM WILL MEET ALL OF YOUR REQUIREMENTS; (ii) THE PLATFORM WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; OR (iii) ALL ERRORS IN THE SOFTWARE OR PLATFORM WILL BE CORRECTED;

      %p 1.3. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE PLATFORM IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEMS OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL;

      %p 1.4. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM Fablabs.io OR THROUGH OR FROM THE PLATFORM SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF USE.

      %p 2. Until further notice Fablabs.io Platform is provided as a Beta software release which means THERE IS NO SERVICE LEVEL AGREEMENT AND NO WARRANTY OF SERVICE AVAILABILITY.

      %h3 14. Limitation of Liability

      %p 1. YOU EXPRESSLY UNDERSTAND AND AGREE THAT Fablabs.io, ITS SUBSIDIARIES, AFFILIATES AND LICENSORS, AND OUR AND THEIR RESPECTIVE OFFICERS, EMPLOYEES, AGENTS AND SUCCESSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, COVER OR OTHER INTANGIBLE LOSSES (EVEN IF Fablabs.io HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM:

      %p 1.1. THE USE OR THE INABILITY TO USE THE PLATFORM;

      %p 1.2. UNAUTHORIZED ACCESS TO OR THE LOSS, CORRUPTION OR ALTERATION OF YOUR TRANSMISSIONS, CONTENT OR DATA;

      %p 1.3. STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON OR USING THE PLATFORM;

      %p 1.4. Fablabs.io ACTIONS OR OMISSIONS IN RELIANCE UPON YOUR ACCOUNT INFORMATION AND ANY CHANGES THERETO OR NOTICES RECEIVED THEREFROM;

      %p 1.5. YOUR FAILURE TO PROTECT THE CONFIDENTIALITY OF ANY PASSWORDS OR ACCESS RIGHTS TO YOUR ACCOUNT INFORMATION;

      %p 1.6. THE ACTS OR OMISSIONS OF ANY THIRD PARTY USING OR INTEGRATING WITH THE PLATFORM;

      %p 1.7. THE TERMINATION OF YOUR ACCOUNT IN ACCORDANCE WITH THESE TERMS; OR

      %p 1.8. ANY OTHER MATTER RELATING TO THE PLATFORM.

      %p 2. NOTHING IN THESE TERMS IS INTENDED TO EXCLUDE OR LIMIT ANY CONDITION, WARRANTY, RIGHT OR LIABILITY WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED.

      %h3 15. Miscellaneous

      %p 1. These Terms of Use shall be governed by and construed in accordance with Spanish and US laws, without giving effect to any principles of conflict of law. You agree that any action at law or in equity arising out of or relating to these Terms of Use shall be filed only in Spanish Courts and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.

      %p 2. No party shall be liable for any performance failure, delay in performance, or lost data under these Terms of Use due to causes beyond that party's reasonable control and occurring without its fault or negligence.

      %p 3. The failure of Fablabs.io to partially or fully exercise any right shall not prevent the subsequent exercise of such right. The waiver by Fablabs.io of any breach shall not be deemed a waiver of any subsequent breach of the same or any other term of these Terms of Use. No remedy made available to Fablabs.io by any of the provisions of these Terms of Use is intended to be exclusive of any other remedy, and each and every remedy shall be cumulative and in addition to every other remedy available at law or in equity.

      %p 5. All products, company names, brand names, trademarks and logos are the property of their respective owners.

      %h2 Version and contact information

      %p These Terms of Service was last revised on <em>April 19th 2017</em>. As soon as improvements to the <strong>Fablabs.io</strong> website will be introduced, this page will be updated. If you need more information regarding the Terms of Service, the Privacy Policy and the Cookie Policy at <strong>Fablabs.io</strong> you can write us at <a href="mailto:webmasters@fablabs.io">webmasters@fablabs.io</a>.
