- title "Discuss"
.row.top
  %h2 Discuss
.row.row-no-padding
  .col-md-12
    %p Lorem ipsum...

.row
  %iframe{src: Figaro.env.discourse_endpoint, frameborder: "0", width: '100%', scrolling: 'yes', height: 1000, style: 'border: none'}

Prova

= render 'footer'
