- title "Discuss"
.row.top
  %h2 Discuss

.row.row-no-padding
  .col-md-12
    %p Here you can find all the members of the Fab Lab Network and discuss with them about Labs, Machines, Projects, Events, Organizations, Education, Research and  any feedback about Fablabs.io.

.row
  %iframe{src: Figaro.env.discourse_endpoint, frameborder: "0", width: '100%', scrolling: 'yes', height: 1500, style: 'border: none'}
