.homepage-sections {
  padding-top: 64px;
  padding-bottom: 64px;
}

.homepage-features-list {
  li {
    list-style-image: image_url("dot.png");
    list-style-position: inside;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #666666;
  }
}

.homepage-project-card {
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 26px 40px;
  width: 100%;
  height:100%;
  margin-right: 80px;
  margin-bottom: 40px;
  overflow: hidden;

  .homepage-cta {
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

.homepage-event-card {
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 26px 40px;
  width: 100%;
  height: 360px;
  margin-right: 80px;
  margin-bottom: 40px;
  overflow: hidden;
}
