.homepage-features-list {
  li {
    list-style-image: image_url("dot.png");
    list-style-position: inside;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #666666;
  }
}
