/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require Control.Loading.css
 *= require_tree .
 */

$brand-primary: #34649e;
$navbar-height: 70px;
// $navbar-inverse-bg: #444;
// $navbar-inverse-link-color: #DDD;
$navbar-link-color: #9D99A1;
// $dropdown-bg: #222;
// $dropdown-link-color: #AAA;
// $navbar-inverse-link-active-color: #FFF;
// $navbar-inverse-link-active-bg: rgba(0,0,0,0.1);
@import "twitter/bootstrap";

.avatar.small {
  border-radius: 4px;
}

#please-verify {
  position: relative;
  z-index: 200;
  background: yellow;
  padding: 5px 0;
  text-align: center;
  a { font-weight: bold; }
}

h4.modal-title {
    text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
}

.locale {
  margin-bottom: 10px;
  display: block;
  a {
    font-weight: bold;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-text-size-adjust:none;
  text-size-adjust:none;
  // margin: 0 0 180px; /* bottom = footer height */
  background: #F2F2F2;
}

.alert {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 500;
}

.container {
  max-width: 1100px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}

h3 {
  margin: 0 0 0.5em;
}
