/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require Control.Loading.css
 *= require_tree .
 */

$navbar-height: 70px;
// $navbar-inverse-bg: #444;
// $navbar-inverse-link-color: #DDD;
// $navbar-link-color: #111;
// $dropdown-bg: #222;
// $dropdown-link-color: #AAA;
// $navbar-inverse-link-active-color: #FFF;
// $navbar-inverse-link-active-bg: rgba(0,0,0,0.1);

@import "twitter/bootstrap";

.fablabs {
  font-weight: bold;
  color: #111;
  font-size: 1.6em;
  // text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-family: 'Roboto Slab';
  text-transform: lowercase;
  .io {
    text-transform: uppercase;
    display: inline;
    font-size: 0.5em;
    margin-left: -0.4em;
    vertical-align: super;
    font-weight: normal;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 180px; /* bottom = footer height */
  background: #F2F2F2;
}


a:hover {
  text-decoration: none;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF;
  margin-bottom: 20px;
}

header .navbar {
  z-index: 100000;
  .navbar-toggle .icon-bar {
    border: 1px solid #444;
  }
  a {
    color: #333;
  }
  a.navbar-brand {
  background: url('http://labs.fabfoundation.org/assets/logo-b87fc9df044d86d6412c0bee21945dfe.png') 7px center no-repeat;
  padding-left: 37px;
  text-transform: uppercase;
  // color: #FFF;
  .fab {
    font-weight: bold;
  }
  .foundation {
    margin-left: -3px;
  }
}
}

.navbar {
  border-radius: 0 !important;
  background: rgba(255,255,255,0.7);
}

.hint {
  color: #AAA;
  font-size: 0.9em;
  margin-bottom: 1em;
}

fieldset {
  border-top: 1px solid #EEE;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
  background: #FEFEFE;
  fieldset {
    background: #FFF;
    border: none;
    legend {
      font-weight: normal;
      color: #AAA;
    }
  }
}


legend {
  border: none;
  width: auto;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}

.fp {
  border: none;
  box-shadow: none;
  background: none;
}

.input {
  margin-bottom: 1em;
}

.field_with_errors .error {
  color: red;
}

.bs-callout-warning {
  border-left: 5px solid red;
  color: red;
  background: #FAE8E8;
  padding: 1px 15px;
  margin-bottom: 1em;
  h2 {
    font-weight: bold;
    font-size: 1.4em;
  }
}