/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides

 *= require Control.Loading.css
 *= require select2
 *= require taggd
 *= require intlTelInput
 *= require jquery.timepicker
 *= require leaflet
 *= require foundation-datepicker
 *= require messenger
 *= require messenger-theme-flat
 *= require trumbowyg/trumbowyg
 *= require_tree .
 */

@import "foundation_and_overrides";
@import "foundation";
@import "font-awesome-sprockets";
@import "font-awesome";

#embed-logo {
  display: block;
  background: image_url("embed-logo.png");
  width: 200px;
  height: 51px;
  bottom: 18px;
  right: 10px;
  text-indent: -999px;
  position: absolute;
}
table.table {
  font-size: 0.8em;
  width: 100%;
  td {
    vertical-align: top;
  }
  form, form div {
    display: inline;
    margin: 0;
  }
}

body.a-embed {
  &, #map {
    top: 0;
    margin: 0;
    padding: 0;
  }

  header, footer, .uv-icon {
    display: none;
  }
}

body.development .translation_missing{
  color: red;

  &:before{
   content: "T: ";
   color: red;
 }
}

footer a.active {
  color: #0275BC;
  body.a-home & {
    color: #FFF;
  }
}

.microdata {
  display: none;
}
.button[type=submit] {
  background: $success-color;
}
.red {
  background-color: #E84E61;
}
.red:hover {
  background-color: #D04657;
}

p {
  font-family: 'Open Sans';
}
html {
  position: relative;
  min-height: 100%;
}

#main {
  h1,h2,h3,h4,h5,h6,legend {
    text-shadow: 1px 1px 1px #FFF;
  }
}

body {
  margin: 0 0 ($footer-height + 20px);
  &.a-home {
    margin-bottom: $footer-height;
    footer {
      background: #222222;
      text-shadow: 1px 1px 1px #333;
      .split {
        border-top: 1px solid #353535;
        box-shadow: 0 -1px 0 #151515;
      }
    }
  }
  -webkit-text-size-adjust:none;
  text-size-adjust:none;
  text-rendering: optimizeLegibility;
  position: static;
}

#honeypot {
  background: #DDD;
  padding: 10px;
  opacity: 0.5;
  display: none;
}

h1 {
  font-size: 1.5em !important;
  line-height: 1.2 !important;
}
.breadcrumbs li a {
  text-transform: uppercase;
  font-weight: normal;
}

.count {
  color: #AAA !important;
}
h1 {
  font-weight: bold;
  margin-top: 0;
  font-weight: bold;
}
// #lab_phone {
//   padding-left: 40px;
// }

.heading {
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin: 20px 0 10px;
  a {
    font-weight: normal;
    float: right;
    font-size: 0.9em;
  }
}

.avatar {
  background-color: #FFF;
  &.tiny {
    width: 30px;
    height: 30px;
  }
  &.small {
    width: 45px;
    height: 45px;
  }
  &.med {
    width: 60px;
    height: 60px;
  }
  &.big {
    width: 140px;
    height: 140px;
  }
}

.input input {
  margin-bottom: 0;
}

.select2-container {
  display: block !important;
}

.lab-contact-details {
  line-height: 1.2em;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ccc;
}

.no-bullets {
  list-style-type: none;
}

#please-verify {
  width: 100%;
  background: #FFAB4A;
  padding: 10px;
  position: relative;
  z-index: 20;
  text-align: center;
  a {
    font-weight: bold;
    color: #FFF;
  }
}

h4.modal-title {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
}

.locale {
  margin-bottom: 10px;
  display: block;
  a {
    font-weight: bold;
  }
}

.container {
  max-width: 1100px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

.box {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF;
  margin-bottom: 20px;
}

h3 {
  margin: 0 0 0.5em;
}

.gem-count {
  // font-size: 0.7em;
  // font-weight: bold;
  background: #E84E61;
  border-radius: 4px;
  padding: 2px 5px;
  // border-radius: 5px;
}

.panel {
  background: #EBEBEB;
}


  .media {
    margin-top: 50px;
    &, .media-body {
      zoom: 1;
      overflow: hidden;
    }
    .pull-left {
      float: left !important;
      margin-right: 10px;
    }
  }

.get-help {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#organization-map {
    width: 100%;
    height: 300px;
    background: #d7d7d7;
  }

#organization-labs-search, #organizations-list {
  .media{
    margin-top: 0;
  }
}
