#chat-window {
  background: #FFF;
  height: 400px;
  display: block;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 4px;
  li.You {
    background: #EEE;
  }
  ul, li {
    display: block;
    margin: 0;
    list-style: none;
    padding: 0;
  }
}