// Sticky footer courtesy of http://mystrd.at/modern-clean-css-sticky-footer/
@import "foundation_and_overrides";
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  // background: #FFF;
  a { font-size: 0.85em; }
  // line-height: 2em;
  .split {
    width: 100%;
    border-top: 1px solid #CCC;
    box-shadow: 0 -1px 0 #EAEAEA;
    margin-bottom: 20px;
  }
  text-shadow: 1px 1px 1px #FFF;

  img {
    max-width: 100%;
    display: none;
    // visibility: hidden;
  }

  body.c-labs.a-map & { display: none; }

  ul, li {
    list-style: none;
    margin: 0;
    a {
      color: #999;
    }
    a:hover {
      color: #AAA;
    }
  }
  #footer-twitter-icon {
    font-size: 30px;
  }

}