@import "common_vars";

footer {
  padding-top: 100px;
  padding-bottom: 50px;

  .footer-logo {
    width: 150px;
    margin-bottom: 32px;
  }

  ul, li {
    list-style: none;
    a {
      color: #111;
    }
    a:hover {
      color: #2e2e2e;
    }
  }
}
