// Sticky footer courtesy of http://mystrd.at/modern-clean-css-sticky-footer/
@import "foundation_and_overrides";
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: #FFF;

  margin-top: 40px;
  padding-top: 20px;
  font-size: 0.8em;
  line-height: 1.8em;
  border-top: 1px solid #DDD;

  img {
    max-width: 100%;
    display: none;
    // visibility: hidden;
  }

  body.c-labs.a-map & { display: none; }

  ul, li {
    list-style: none;
    margin: 0;
    a {
      color: #999;
    }
    a:hover {
      color: #AAA;
    }
  }
}