@import "common_vars";
.checkbox_container {
  padding: 10px;

  label {
    font-size: 16px;
    line-height: 20px;
  }
}
textarea {
  margin-bottom: 0;
}

fieldset {
  background: #FFFFFF;
  box-shadow: 0 100px 75px 0 rgba(0,0,0,0.05), 0 10px 25px 0 rgba(0,0,0,0.05), 0 20px 50px 0 rgba(0,0,0,0.05);
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;

  .question {
    margin-bottom: 40px;
  }
}

.fp {
  border: none !important;
  box-shadow: none !important;
  background: none;
}

#main .field_with_errors {
  .error {
    color: #F96716;
    font-size: 12px;
    text-decoration: underline;
    padding: 4px 14px;
    float: right;
  }
}

.hint {
  font-size: 12px;
  padding: 4px 14px;
  color: #AAA;
}

.bs-callout-warning {
  border-left: 5px solid #E84E61;
  color: #E84E61;
  background: #FAE8E8;
  padding: 20px 10px;
  margin: 1em;
  ul, li {
    list-style: none;
  }
  h2 {
    font-weight: bold;
    font-size: 1.4em;
  }
}

.radio .form-control, .checkbox .form-control, .check_boxes .form-control{
  height: auto;
  width: auto;
  border: none;
  transition: none;
}

input {
    color: #555 !important;
}

input.btn {
    color: #fff !important;
}

.radio {
  font-size: 16px;
}

.input {
  margin-bottom: 30px;
}

.form-control {
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
}

label {
  color: #444;
}

.select2-container.select2-container--default {

  .select2-selection--single,
  .select2-selection--multiple {
    border-color: $grey;
    min-height: 40px;

    .select2-selection__rendered {
      line-height: 40px;
      color: #666;
      font-weight: bold;
    }

    .select2-selection__arrow {
      height: 100%;
    }
  }

  .select2-selection--multiple {
    border-color: $grey;
  }

  .select2-dropdown {
    border-color: $grey;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $green;
  }
}

.input-group-prepend {
  border-color: #D8D8D8;
  background-color: #D8D8D8;
  align-items: center;
}

.simple_form fieldset > * {
  padding: 0px 20px;
}
