.checkbox_container {
  display: inline-block;
  padding: 10px;
}
textarea {
  margin-bottom: 0;
}
.hint {
  padding: 2px;
  display: block;
  color: #AAA;
  font-size: 0.9em;
  margin-bottom: 1em;
}

fieldset {
  border: 1px solid #c0c0c0 !important;
  margin-bottom: 20px !important;
  padding: 20px !important;
  background: #FEFEFE !important;
  fieldset {
    padding: 5px !important;
    background: none !important;
    border: none !important;
    legend {
      // font-weight: normal;
      // color: #AAA;
      border: none;
    }
  }
  legend {
    border: 1px solid #ddd;
    border-bottom: none;
    width: auto;
    background: #FEFEFE;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
    // font-size: 1.1em;
    padding: 12px 20px 0px 20px;
    margin-bottom: 36px;
    border-radius: 4px 4px 0px 0px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #555;
}

.fp {
  border: none !important;
  box-shadow: none !important;
  background: none;
}

.input {
  margin-bottom: 1em;
}

#main .field_with_errors {
  border-bottom: 1px solid #E84E61;
  label, abbr, & { color: #E84E61; }
  background: #FAE8E8;
  padding: 5px 0;
}

.bs-callout-warning {
  border-left: 5px solid #E84E61;
  color: #E84E61;
  background: #FAE8E8;
  padding: 20px 10px;
  margin-bottom: 1em;
  ul, li {
    list-style: none;
  }
  h2 {
    font-weight: bold;
    font-size: 1.4em;
  }
}

.input .boolean{
  margin-left: 20px;
}

.radio .form-control, .checkbox .form-control, .check_boxes .form-control{
  height: auto;
  width: auto;
  border: none;
  transition: none;
}
