@import "bourbon";
@import "foundation_and_overrides";



#logo {
   width: 30px;
   margin-top: 14px;
   // @media #{$medium} {
   //    width: 70px;
   // }
}
header {
  position: relative;
  z-index: 40;
  ul {
    background: none !important;
  }

  body.a-home &, body.c-labs.a-map & {
    margin-bottom: 0;
  }
  margin-bottom: 20px;

  .top-bar-section .dropdown li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .top-bar input {
    padding: 20px 10px;
  }
  #locale {
    display: none;
  }
  .form-group {
    padding: 0 10px;
  }
  #locale-icon img {
    vertical-align: middle;
  }

  .top-bar {
    margin: 0;
  }

  // // margin-bottom: 40px;
  // .a-home & {
  //   margin-bottom: 0;
  // }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
  .nav > li > a:hover, .nav > li > a:focus {
    background: none !important;
  }
  // .fablabs {
  //   font-weight: bold;
  //   color: #111;
  //   font-size: 1.3em;
  //   // text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  //   font-family: 'Roboto Slab';
  //   text-transform: lowercase;
  //   .labs {
  //     font-weight: normal;
  //   }
  //   .io {
  //     // text-transform: uppercase;
  //     display: inline;
  //     font-size: 0.5em;
  //     margin-left: -0.4em;
  //     vertical-align: super;
  //     // font-weight: normal;
  //   }
  // }

  .navbar-collapse {
    box-shadow: none !important;
  }

  nav.top-bar.expanded #search-box:focus {
    width: 100%;
  }
  #search-box {
    border-radius: 2px;
    &:focus {
      width: 240px;
      @include transition (width 0.2s ease-out);
      // transition: width 0.2s;
      // max-width: 100%;
    }
  }

  .avatar {
    margin-right: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .nav > li > a:hover {
    // background: none;
    color: #999 !important;
  }
  .icon-bar {
    // border-color: #999 !important;
  }

  .navbar {
    border-radius: 0 !important;
    background: #3D3544;
    border: none;
    z-index: 50;

    .caret {
      border-top-color: #999 !important;
      border-bottom-color: #999 !important;
    }
    // background: rgba(#F2F2F2, 0.8);
    .navbar-toggle .icon-bar {
      border: 1px solid #444;
    }
    a {
      color: #999;
    }
    a.navbar-brand {
      padding: 18px 0 0 10px;
      img {
        width: 140px;
      }
      // background: url('http://labs.fabfoundation.org/assets/logo-b87fc9df044d86d6412c0bee21945dfe.png') 7px 22px no-repeat;
      // padding-left: 35px;
      text-transform: uppercase;
      // color: #FFF;
      .fab {
        font-weight: bold;
      }
      .foundation {
        margin-left: -3px;
      }
    }
  }
}
