
.homepage {
  background-color: #F2F2F2;
}

.homepage-header {
  height: 545px;
  background-image: url('/assets/home/header-background.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  margin-bottom: 290px;
}

.homepage-header-content {
  background: rgba(255,255,255,0.90);
  box-shadow: 0 0 0 1px rgba(50,50,93,0.01), 0 3px 6px 0 rgba(50,50,93,0.02), 0 15px 35px 0 rgba(50,50,93,0.03), 0 50px 100px 0 rgba(50,50,93,0.10);
  padding: 30px;
  max-width: 650px;
  margin-bottom: 40px;
}

.homepage-cta {
  display: block;
  margin: 60px 0;
  font-size: 22px;
  line-height: 24px;

  img {
    margin-left: 12px;
  }
}

.homepage-card {
  position: relative;
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  padding: 26px 40px;
  max-width: 410px;
  height: 460px;
  float: left;
  margin-right: 80px;
  margin-bottom: 40px;

  .homepage-cta {
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

.homepage-card-image {
  width: 100%;
}

.homepage-quote {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 100px 0;
  font-size: 32px;
}

.homepage-divider {
  background: #FF7A72;
  width: 160px;
  border-bottom: 8px solid #68C5AA;
  margin: auto;
  margin-bottom: 40px;
}

.homepage-divider-small {
  background: #FF7A72;
  width: 80px;
  border-bottom: 8px solid #68C5AA;
  margin-bottom: 6px;
}

.homepage-circles {
  position: relative;
  height: 1100px;
  margin-left: -105px;
}

.homepage-circle {
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.homepage-circle-1 {
  background: #81D7BE;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 424px;
}

.homepage-circle-2 {
  background-image: url('/assets/home/lab.jpg');
  width: 252px;
  height: 252px;
  left: 393px;
  top: 134px;
}

.homepage-circle-3 {
  background-image: url('/assets/home/person.jpg');
  width: 408px;
  height: 408px;
  left: -30px;
  top: 314px;
}

.homepage-circle-4 {
  background: #EB92B6;
  width: 30px;
  height: 30px;
  left: 466px;
  top: 461px;
}

.homepage-circle-5 {
  background: #1799F7;
  width: 61px;
  height: 61px;
  left: 574px;
  top: 567px;
}

.homepage-circle-6 {
  background-image: url('/assets/home/machine.jpg');
  width: 252px;
  height: 252px;
  left: 461px;
  top: 716px;
}

.homepage-circle-7 {
  background: #FF7A72;
  width: 124px;
  height: 124px;
  left: -30px;
  top: 800px;
}

.homepage-circle-8 {
  background: #E9CEDE;
  width: 49px;
  height: 49px;
  left: 280px;
  top: 1000px;
}

.homepage-circles-content {
  position: absolute;
  max-width: 360px;
  top: 344px;
  left: 858px;
}

.homepage-fablabs-logos {
  width: 100%;
}

.homepage-fablabs-section {
  background: white;
  padding: 40px 0;
}

.homepage-info-section {
  margin-top: 60px;
}

.homepage-cards-footer {
  padding: 60px 0;
}
