@import "common_vars";

/* Map icons */

/* Common and default settings */

.icon_custom {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 24px !important;
  height: 24px !important;
  background-repeat: no-repeat;
  top: -24px;
  left: -12px;
}

.icon_active {
  background-image: image_url("map-icons/active.svg");
}

.icon_closed {
  background-image: image_url("map-icons/closed.svg");
}

// Old names
.icon_fab_lab {
  background-image: image_url("map-icons/fab_lab.svg");
}

.icon_mobile {
  background-image: image_url("map-icons/mobile.svg");
}

.icon_supernode {
  background-image: image_url("map-icons/supernode.svg");
}

.icon_corona{
  background-image: image_url("map-icons/corona.svg");
}

.zoom4 .icon_custom,
.zoom5 .icon_custom,
.zoom6 .icon_custom,
.zoom7 .icon_custom,
.zoom8 .icon_custom,
.zoom9 .icon_custom
{
  width: 35px !important;
  height: 35px !important;
  background-repeat: no-repeat;
  top: -35px;
  left: -16px;
}

.zoom10 .icon_custom,
.zoom11 .icon_custom,
.zoom12 .icon_custom,
.zoom13 .icon_custom,
.zoom14 .icon_custom,
.zoom15 .icon_custom,
.zoom16 .icon_custom,
.zoom17 .icon_custom,
.zoom18 .icon_custom,
.zoom19 .icon_custom,
.zoom20 .icon_custom,
.zoom21 .icon_custom,
.zoom22 .icon_custom
{
  width: 50px !important;
  height: 50px !important;
  background-repeat: no-repeat;
  top: -70px;
  left: -35px;
}


$sea-blue: #98bcda;
$sea-gray: #d7d7d7;

#students-filter {
  dd.active a {
    padding: 0 !important;
  }
}
#students {
  .year {
    font-size: 0.9em;
  }
}

table.disciplines {
  width: 100%;
  td.discipline {
    width: 30%;
  }
  td {
    width: 14%;
  }
  th {
    font-size: 0.8em;
    text-align: left;
  }
}

ul.academics {
  .academic {
    width: 55px;
    height: 55px;
  }
}

li.person {
  .employee {
    width: 75px;
    height: 75px;
  }
}

ul.events {
  list-style: none;
}

.med {
  text-align: center;
  .button {
    background: #777;
    margin-top: 10px;
  }
}

.rotate {
  font-size: 0.6em;

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

li.lab-link {
  a {
    display: block;
    line-height: 20px;
  }
}

.opening-hours {
  // display: none;
}
.opening-hours table {
  width: 100%;
  border: 0;
  td {
    border: 1px solid #ccc;
    height: 20px;
  }
  th {
    width: 30px;
  }
  td.active {
    background: red;
  }
  *,
  & {
    padding: 0;
    margin: 0;
    table-collapse: collapse;
  }
}

.lab {
  margin-bottom: 10px;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 15px;

  .arrow {
    padding: 17px;
  }
}

.top {
  margin-bottom: 0;
}

ul.nearby-labs {
  list-style: none;
  padding-left: 0;
  margin: 12px 0 0;

  li {
    margin-bottom: 10px;
  }
}

ul.side-nav {
  padding: 0;
  a {
    padding: 0 5px;
  }
  li.active a {
    // font-weight: bold;
    background: #fff;
    // border-top: 1px solid #F0586D;
    // border-bottom: 1px solid #F0586D;
  }
}

.close {
  text-align: center;
}

ul.lab-links {
  list-style: none;
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5em;
  }
}

.nearby-lab {
  overflow: hidden;
  margin-bottom: 0.5em;
  img {
    margin-right: 5px;
  }
}

.lab-staff li {
  overflow: hidden;
  display: block;
}

.search-results {
  background: lighten(yellow, 40%);
}

.lab {
  overflow: hidden;
}

.lab-actions {
  li {
    display: block;
    clear: both;
  }
}

#lab-map {
  width: 100%;
  height: 300px;
  background: $sea-gray; // Was: $sea-blue
  // border: 1px solid #CCC;
  // border-radius: 4px;
}

// .c-labs.a-map {
//   .leaflet-top {
//     top: 70px;
//   }
// }

.button-group {
  a.list {
    border-radius: 4px 0 0 4px;
  }
  a.map {
    border-radius: 0 4px 4px 0;
  }
}

// .c-labs .nav li {
//   & > a {
//     padding: 7px 15px;
//     color: #888;
//   }
//   &.active > a {
//     color: #FFF;
//   }
// }
li.all {
  // border-bottom: 1px solid #CCC;
  margin-bottom: 12px;
}

.c-labs.a-index {
  #main .avatar {
    // width: 100px;
    // height: 100px;
    margin-right: 10px;
  }
  .labs {
    .media-heading {
      font-weight: bold;
    }
    .lab {
      .lab-location {
        &,
        a {
          color: #747474;
        }
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
      }
      a.name {
        margin-top: 2px;
        font-weight: 700;
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #4a4a4a;
      }

      .lab-description {
        color: #747474;
        margin-bottom: 0;
        font-size: 0.9em;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

a.all-labs {
  color: #444;
}

.c-labs.a-show {
  .breadcrumbs .current {
    display: none;
  }
  .stripe {
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-top: -20px;
    padding-top: 20px;
    // position: relative;
  }
  .header {
    margin-bottom: 10px;
  }
  ul.discussions {
    list-style: none;
  }
  // .media-body {
  //   clear: both;
  //   // float: none;
  // }
  table {
    width: 100%;
  }
  h1 {
    margin: 0;
  }
  header .navbar {
    // background: none;//rgba(0,0,0,0.6);
  }
  .sidebar {
    margin-bottom: 2em;
    font-size: 0.9em;
  }
  .big.avatar {
    margin-right: 10px;
  }
  .nearby-labs {
    margin-bottom: 10px;
    .nearby-lab-name {
      font-weight: bold;
    }
  }
  a.big-map-link {
    display: block;
    padding-top: 10px;
  }
  .lab-description {
    margin: 1em 0 0;
  }
  #header-bg {
    height: 310px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

input#lab_name {
  font-size: 1.5em;
  height: auto;
  font-weight: normal;
}

#map {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $sea-gray;
}

#location-picker-map {
  img {
    max-width: none;
  }
  width: 95%;
  height: 584px;
  display: block;
  margin: 20px auto;
}

.address input {
  margin-bottom: 5px;
}

#geocomplete {
  color: #ccc;
}

.person-name {
  font-weight: bold;
  display: block;
}
.person-email {
  color: #999;
}
.big-picture {
  // border-radius: 4px;
  border: 4px solid #fff;
  width: 100%;
}
.lab-contact-details {
  margin-bottom: 1em;
  font-size: 0.9em;
}
.distance {
  color: #999;
  // font-size: 0.9em;
}
.person-details {
  font-size: 0.9em;
}
#description-count {
  font-weight: bold;
}
.sidebar-offcanvas {
  .heading {
    font-weight: normal;
  }

  .list-group-item {
    border: none;
    color: #0275bc;
  }

  .list-group-item.active {
    background: #fff;
    color: #21a9fd;
    .badge {
      background-color: white;
      color: #aaa;
    }
  }

  .badge {
    background-color: white;
    color: #aaa;
  }
}
.sidebar-offcanvas .sub-nav {
  margin-bottom: 0;
  a.button {
    color: #fff;
  }
}
.order-by {
  margin: 0;
}

ul.capabilities {
  padding-left: 0;
  list-style: none;
  padding-top: 20px;
  margin-bottom: 50px;

  li {
    border: 1px solid #979797;
    border-radius: 4px;
    color: #747474;
    padding: 0 8px;
    display: inline-block;
    margin-bottom: 10px;
  }

  li + li {
    margin-left: 10px;
  }
}
