@import "foundation_and_overrides";

$sea-blue: #98BCDA;

.content {
  border-right: 1px solid #CCC;
}
.main {
  padding-top: 20px;
}
.bio {
  text-align: center;
  @media #{$small} {
    padding-top: 20px;
  }
}
.lab {
  background: white;
  border-radius: 4px;
  // border-top: 1px solid #EEE;
  // border-left: 1px solid #EEE;
  // border-bottom: 1px solid #DDD;
  // border-right: 1px solid #DDD;
  padding: 10px;
  margin-bottom: 10px;
}

.top {
  margin-bottom: 0;
}

ul.nearby-labs {
  list-style: none;
  li {
    margin-bottom: 10px;
  }
}

ul.side-nav {
  padding: 0;
  a {
    padding: 0 5px;
  }
  li.active a {
    // font-weight: bold;
    background: #FFF;
    // border-top: 1px solid #F0586D;
    // border-bottom: 1px solid #F0586D;
  }
}

.close {
  text-align: center;
}

ul.lab-links {
  list-style: none;
  li {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5em;
  }
}

.tool {
  padding: 5px;
  background: white;
  // display: inline-block;
  // margin-bottom: 5px;
  // width: 150px;
  // max-width: 100%;
  img {
    width: 100%;
  }
}

.nearby-lab {
  overflow: hidden;
  margin-bottom: 0.5em;
  img {
    margin-right: 5px;
  }
}

.lab-staff li {
  overflow: hidden;
  display: block;
}

.search-results {
  margin-bottom: 1em;
  background: lighten(yellow, 40%);
  padding: 10px;
}

.lab {
  overflow: hidden;
}

.lab-actions {
  li {
    display: block;
    clear: both;
  }
}

#lab-map {
  width: 100%;
  height: 300px;
  background: $sea-blue;
  // border: 1px solid #CCC;
  // border-radius: 4px;
}


// .c-labs.a-map {
//   .leaflet-top {
//     top: 70px;
//   }
// }

.breadcrumb {
  background: none;
  padding: 0 5px;
  border-radius: none;
  border-bottom: 1px solid #EEE;
  padding-bottom: 5px;
}

.button-group {
  a.list { border-radius: 4px 0 0 4px; }
  a.map { border-radius: 0 4px 4px 0; }
}

.lab-phone, .lab-email {
  &, span, a {
    color: #AAA;
  }
}

.view-as {
  overflow: hidden;
  position: relative;
  .a-map & {
    margin-top: 20px;
    z-index: 20;
    pointer-events: none;
  }
  ul {
    float: right;
  }
  a {
    pointer-events: auto;
  }
  // background: rgba(#F2F2F2, 0.4);
  // border-radius: 2px;
}
// .c-labs .nav li {
//   & > a {
//     padding: 7px 15px;
//     color: #888;
//   }
//   &.active > a {
//     color: #FFF;
//   }
// }
li.all {
  // border-bottom: 1px solid #CCC;
  margin-bottom: 12px;
}


.c-labs.a-index {
  #main .avatar {
    // width: 100px;
    // height: 100px;
    margin-right: 10px;
  }
  .labs {
    .media-heading {
      font-weight: bold;
    }
    .lab {
      .lab-location {
        &, a {
          color: #999;
        }
        margin-bottom: 0.3em;
        font-size: 0.9em;
      }
      a.name {
        font-weight: bold;
        display: block;
        margin-bottom: 0.3em;
      }

      .lab-description {
        color: #444;
        margin-bottom: 0;
        font-size: 0.9em;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

a.all-labs {
  color: #444;
}

.c-labs.a-show {
  .breadcrumbs .current {
    display: none;
  }
  .stripe {
    background: #FFF;
    border-bottom: 1px solid #EEE;
    margin-top: -20px;
    padding-top: 20px;
    // position: relative;
  }
  .header {
    margin-bottom: 10px;
  }
  ul.discussions {
    list-style: none;
  }
  // .media-body {
  //   clear: both;
  //   // float: none;
  // }
  table {
    width: 100%;
  }
  h1 {
    margin: 0;
  }
  header .navbar {
    // background: none;//rgba(0,0,0,0.6);
  }
  .sidebar {
    margin-bottom: 2em;
    font-size: 0.9em;
  }
  .big.avatar {
    margin-right: 10px;
  }
  .nearby-labs {
    margin-bottom: 10px;
    .nearby-lab-name {
      font-weight: bold;
    }
  }
  a.big-map-link {
    display: block;
    padding-top: 10px;
  }
  .lab-description {
    margin: 1em 0 0;
  }
  #header-bg {
    height: 310px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

input#lab_name {
  font-size: 1.5em;
  height: auto;
  font-weight: normal;
}

#map {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8DCFF4;
}

#location-picker-map {
  width: 95%;
  height: 280px;
  display: block;
  margin: 20px auto;
}

.address input {
  margin-bottom: 5px;
}

#geocomplete {
  color: #CCC;
}
.tool-name {
  clear: both;
  // font-weight: bold;
  font-size: 0.9em;
}
.person-name {
  font-weight: bold;
  display: block;
}
.person-email {
  color: #999;
}
.big-picture {
  // border-radius: 4px;
  border: 4px solid #FFF;
  width: 100%;
}
.lab-contact-details {
  margin-bottom: 1em;
  font-size: 0.9em;
}
.distance {
  color: #999;
  // font-size: 0.9em;
}
.person-details {
  font-size: 0.9em;
}
#description-count {
  font-weight: bold;
}
.countries-filter {
  font-size: 0.9em;
}
.sidebar-offcanvas {
  .heading {
    font-weight: normal;
  }
}
.sidebar-offcanvas .sub-nav {
  margin-bottom: 0;
  a.button {
    color: #FFF;
  }
}
.order-by {
  margin: 0;
}
ul.capabilities {
  margin-left: 20px;
}