$sea-blue: #98BCDA;

ul.side-nav {
  border: 1px solid #CCC;
  a {
    padding: 5px;
  }
  li.active a {
    font-weight: bold;
    // background: yellow;
  }
}

.close {
  text-align: center;
}

ul.lab-links {
  list-style: none;
  li {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}

.nearby-lab {
  overflow: hidden;
  margin-bottom: 0.5em;
  img {
    margin-right: 5px;
  }
}

.lab-location {
  color: #999;
  margin: 0.2em 0 0.5em;
}

.lab-staff li {
  overflow: hidden;
  display: block;
}

.search-results {
  margin-bottom: 1em;
  background: yellow;
  padding: 10px;
}

.lab {
  overflow: hidden;
}

.lab-actions {
  margin: 10px 0;
}

#lab-map {
  width: 100%;
  height: 250px;
  background: $sea-blue;
  border: 4px solid #FFF;
  // border-radius: 4px;
}

.fp button {
  @extend .btn;
}

// .c-labs.a-map {
//   .leaflet-top {
//     top: 70px;
//   }
// }

.breadcrumb {
  background: none;
  padding: 0 5px;
  border-radius: none;
  border-bottom: 1px solid #EEE;
  padding-bottom: 5px;
}

.lab-phone, .lab-email {
  &, span, a {
    color: #AAA;
  }
}

.view-as {
  overflow: hidden;
  position: relative;
  .a-index & {

    margin-bottom: 40px;
  }
  .a-map & {
    z-index: 20;
    pointer-events: none;
  }
  ul {
    float: right;
  }
  a {
    pointer-events: auto;
  }
  // background: rgba(#F2F2F2, 0.4);
  // border-radius: 2px;
}
// .c-labs .nav li {
//   & > a {
//     padding: 7px 15px;
//     color: #888;
//   }
//   &.active > a {
//     color: #FFF;
//   }
// }
li.all {
  // border-bottom: 1px solid #CCC;
  margin-bottom: 12px;
}


.c-labs.a-index {
  .avatar {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  h4 {
    margin: 0;
    font-size: 1.2em;
  }
  .labs {
    .media-heading {
      font-weight: bold;
    }
    .lab {
      // margin-bottom: 10px;
      padding-bottom: 20px;
      // border-bottom: 1px solid #CCC;
      .lab-description {
        color: #444;
        font-size: 0.9em;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.c-labs.a-show {
  // .media-body {
  //   clear: both;
  //   // float: none;
  // }
  table {
    width: 100%;
  }
  h1 {
    margin: 0;
  }
  header .navbar {
    // background: none;//rgba(0,0,0,0.6);
  }
  .sidebar {
    margin-bottom: 2em;
  }
  .big.avatar {
    margin-right: 10px;
  }
  .nearby-labs {
    margin-bottom: 10px;
    .nearby-lab-name {
      font-weight: bold;
    }
  }
  a.big-map-link {
    display: block;
    padding-top: 10px;
  }
  .lab-description {
    margin: 1em 0 0;
  }
  #header-bg {
    height: 310px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}




input#lab_name {
  font-size: 1.5em;
  height: auto;
  font-weight: normal;
}

#map {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8DCFF4;
}


#location-picker-map {
  width: 95%;
  height: 280px;
  display: block;
  margin: 20px auto;
}

.address input {
  margin-bottom: 5px;
}

#geocomplete {
  color: #CCC;
}