.machine a span { display: block; }
.machine-brand { font-size: 0.8em; }
.machine-name {
  font-weight: bold;
}
.machine-tags {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #FFF;
  padding: 3px;
  font-size: 0.5em;
  font-weight: bold;
  color: #444;
}