.c-machines.a-show {
  .main {
    background: #FFF;
    padding: 20px;
    img {
      margin-bottom: 20px;
    }
  }
  .side {
    ul,ol {
    margin-left: 25px;
    }
    .lab-links {
      margin-left: 5px;
    }
  }
}
