#project-container > li {
  background: #fff;
  margin-left: 5px;
  margin-bottom: 5px;
}

.project {
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  height: 250px;
  border-radius: 4px;
  div {
    padding: 0px;
    margin: 0px;
  }
  .owner-avatar {
    position: absolute;
    padding: 5px;
    img {
        width: 40px;
    }
  }

  .project-title {
    height: 120px;
    padding-top: 40px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: #4D4D4D;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
    border-bottom: 1px solid #D9D9D9;
    a {
      color: #4F4F4F;
    }
    .project-title-span {
      background-color: #fff;
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
      -moz-opacity: 0.8;
      padding: 10px;
      border: 1px solid #D9D9D9;
      border-radius: 3px;
    }
  }
  .project-description {
    height: 90px;
    padding: 10px;
    span {
      a {
        float: right;
      }
    }
  }

  .project-baseline {
    padding: 10px;
    height: 30px;
    font-size: 0.7em;
    span {
      padding-right: 10px;
    }
  }
}

.main-project {
  color: #4D4D4D;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #D9D9D9;
  padding: 30px;
  text-shadow: 2px 2px 20px #fff;
}

.main-title {
  ul { list-style: none }
  i {
    padding-right: 20px;
    margin: 0 auto;
    width: 30px;
    clear: right;
  }
  .tag-list {
    text-align: center;
  }
  .polaroid {
    img {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      border: 1px solid #D9D9D9;
    }
  }
}

.project-description {
  padding-top: 20px;
  ul {
    list-style: none;
    li {
      padding-bottom: 10px;
      strong {
        vertical-align: top;
        padding-left: 10px;
      }
    }
  }
}

ul.taglist li {
  font-size: 0.8em;
  display: inline;
  text-align: center;
  padding-bottom: 10px;
}

form {
  label {
    font-size: 0.8em;
    padding-bottom: 10px;
  }

  ul.taglist-form li {
    padding: 15px;
    label { display: inline }
  }

  input {
    border-radius: 3px;
  }

  textarea {
    border-radius: 3px;
    height: 200px;
  }

  i {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .icon {
    vertical-align: bottom;
    padding-right: 20px;
    width: 50px;
    font-size: 1.6em;
    span {
      i {
        padding-top: 10px;
        padding-left: 5px;
      }
    }
  }

  .owner-btn {
    vertical-align: middle;
    cursor: pointer;
    background-color: #EEE;
    background-image: linear-gradient(#FCFCFC, #EEE);
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 5px;
    margin-left: 50px;

    img {
      vertical-align: middle;
    }
    a {
      padding-left: 5px;
      padding-top: 5px;
      vertical-align: middle;
      text-align: center;
    }
  }

  .selections {
    ul {
      list-style: none;
      li { display: inline; }
    }
    span {
      float: left;
      margin-top: -15px;
      padding-right: 10px;
    }
  }

  li.thumbs {
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
  }

  label.radio {
    width: 70px;
    border-radius: 3px;
    border: 1px solid #D9D9D9
  }

  /* hide input */
  input[type="radio"]:empty {
  	margin-left: -999px;
  }

  /* style label */
  input[type="radio"]:empty ~ label.radio {
  	position: relative;
  	float: left;
  	line-height: 2.5em;
  	text-indent: 3.25em;
  	margin-top: 2em;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  }

  input[type="radio"]:empty ~ label.radio:before {
  	position: absolute;
  	display: block;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	content: '';
  	width: 2.5em;
  	background: #EBEBEB;
  	border-radius: 3px 0 0 3px;
  }

  /* toggle hover */
  input[type="radio"]:hover:not(:checked) ~ label.radio:before {
  	content:'\2714';
  	text-indent: .9em;
  	color: #4D4D4D;
  }

  input[type="radio"]:hover:not(:checked) ~ label.radio {
  	color: #4D4D4D;
  }

  /* toggle on */
  input[type="radio"]:checked ~ label.radio:before {
  	content:'\2714';
  	text-indent: .9em;
  	color: #fff;
  	background-color: #009E5A;
  }

  input[type="radio"]:checked ~ label.radio {
  	color: #4D4D4D;
  }

  /* radio focus */
  input[type="radio"]:focus ~ label.radio:before {
  	box-shadow: 0 0 0 3px #999;
  }
  /* radio focus */
  input[type="radio"]:focus ~ label.radio:before {
	   box-shadow: 0 0 0 3px #999;
  }

  h4 {
    a { float: right; }
    i { padding: 10px; }
  }

  ul{
    list-style: none;
    li {
      float: left;
      padding: 5px;
    }
  }

  .select2-selection {
    border: none;
  }

  .select2-search__field {
    border: none;
    -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
  }

  .button-file {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #0275BC;
    color: #FFF;
    cursor: pointer;
  }

  .button-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
}
