#project-container > li {
  background: #fff;
  margin-left: 5px;
  margin-bottom: 5px;
}

ul.clearing-thumbs {
  li {
    padding-right: 10px;
    display: inline;
    a {
      margin: 10px;
    }
  }
}
ol.orbit-bullets {
  top: 20px;
  li {
    width: 8px;
    height: 8px;
    color: #222;
  }
}
.orbit-container .orbit-prev, .orbit-container .orbit-next { background-color: transparent; }

.orbit-slide-number {
  color: #fff
}

.stripe {
  background: #FFF;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  // position: relative;
}

.main-project {
  color: #4D4D4D;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #D9D9D9;
  padding: 30px;
  text-shadow: 2px 2px 20px #fff;
}

.main-title {
  ul {
    list-style: none;
    li { padding-top: 10px}
  }
  i {
    padding-right: 20px;
    margin: 0 auto;
    width: 30px;
    clear: right;
  }
  .tag-list {
    text-align: center;
  }

}

.project-description {
  .columns.large-4 {
    background: #FFF;
    border-left: 1px solid #EEE;
    .heading {
      font-size: 0.9em;
    }
  }
  padding-top: 20px;
  ul {
    list-style: none;
    li {
      padding-bottom: 10px;
      strong {
        vertical-align: top;
        padding-left: 10px;
      }
    }
  }
}

ul.taglist li.gray {
  font-size: 0.8em;
  display: inline;
  text-align: center;
  padding: 10px;
  margin: 10px 10px 10px 0;
  background-color: #F4F4F4;
  border-color: #DCDCDC;
  border-radius: 4px;
}

form {
  ul.taglist-form li {
    padding: 15px;
    label {
      display: inline;
      font-size: 0.9em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  input {
    border-radius: 3px;
  }

  textarea {
    border-radius: 3px;
    height: 200px;
  }

  i {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .icon {
    vertical-align: bottom;
    padding-right: 20px;
    width: 50px;
    font-size: 1.6em;
    span {
      i {
        padding-top: 10px;
        padding-left: 5px;
      }
    }
  }

  .owner-btn {
    vertical-align: middle;
    cursor: pointer;
    background-color: #EEE;
    background-image: linear-gradient(#FCFCFC, #EEE);
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 5px;
    margin-left: 50px;

    img {
      vertical-align: middle;
    }
    a {
      padding-left: 5px;
      padding-top: 5px;
      vertical-align: middle;
      text-align: center;
    }
  }

  .selections {
    ul {
      list-style: none;
      li { display: inline; }
    }
    span {
      float: left;
      margin-top: -15px;
      padding-right: 10px;
    }
  }

  li.thumbs {
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
  }
  h4 {
    a { float: right; margin: -10px; }
    i { padding: 5px 15px }
  }

  .taglist {
    ul{
      list-style: none;
      li {
        float: left;
        padding: 5px;
      }
    }
  }

  .select2-selection {
    border: none;
  }

  .select2-search__field {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .button-file {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #0275BC;
    color: #FFF;
    cursor: pointer;
  }

  .button-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
}

.project-contributors {
    padding: 0px;
}

.lab-links, .lab-link {
        padding: 0px;
}

.lab-link {
    width: 100%;
}
.lab-link a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-links, .taglist {
    list-style-type: none;
    padding: 0px;
}
.project-links li {
    padding: 0px;
}

.share {
    margin-top: 20px;
}
