#project-container > li {
  background: #fff;
  margin-left: 5px;
  margin-bottom: 5px;
}

.project {
  background: #F5F5F5;
  border: 1px solid #ccc;
  height: 250px;
  border-radius: 4px;
  div {
    padding: 0px;
    margin: 0px;
  }
  .project-title {
    height: 120px;
    padding-top: 40px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: #4D4D4D;
    background-color: #0275BC;
    background-image: linear-gradient(120deg, #0275BC, #009E5A);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
    border-bottom: 1px solid #ccc;
    a {
      color: #4F4F4F;
    }
  }
  .project-description {
    height: 90px;
    padding: 10px;
  }
  .project-baseline {
    padding: 10px;
    height: 30px;
    font-size: 0.7em;
    span {
      padding-right: 10px;
    }
  }
}

.main-project {
  color: #4D4D4D;
  background-color: #0275BC;
  background-image: linear-gradient(120deg, #0275BC, #009E5A);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
  border-bottom: 1px solid #ccc;
  border: 1px solid #ccc;
  padding: 30px;

  a {
    color: #4F4F4F;
  }
  p > span {
    padding-right: 30px;
  }
}

.project-description {
  padding-top: 20px;
  ul {
    list-style: none;
    li {
      padding-bottom: 10px;
      strong {
        vertical-align: top;
        padding-left: 10px;
      }
    }
  }
}
