@import "common_vars";

#full-logo {
  width: 70%;
  margin: 0 auto 10px;
}

.bg-info {
  position: absolute;
  bottom: 4px;
  left: 4px;
  color: #CCC;
  padding: 4px 8px;
  background: rgba(#000, 0.4);
  font-size: 0.7em;
  a {
    color: #EEE;
    font-style: italic;
  }
}

.your-name {
  line-height: 2em;
}

// .flash {
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
//   padding: 10px;
//   background: red;
//   z-index: 50;
//   font-weight: bold;
//   color: #FFF;
// }

button, .button {
  box-shadow: none !important;
  text-transform: uppercase;
  // font-family: 'Montserrat';
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.forgot {
  padding: 0;
  text-align: left;
  a {
    display: block;
    line-height: 3.5em;
    font-size: 0.9em;
  }
}

input[type=submit].button { -webkit-appearance: none; }

body.sessions {
  margin: 0 0 20px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  // text-align: center;
  padding: 30px 0 0;
  color: #FFF;

  .button {
    padding: 15px 30px;
    font-size: 2em;
    background: $success-color;
    border: none;
  }

  .fablabs {
    color: #FFF;
    font-size: 5em;
  }
  span {
    margin: 0;
  }

  .fade-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  a, label {
    // font-weight: bold;
    color: #FFF;
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  h1 {
    display: none;
  }
  input {
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
  }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: red;
  }
}
