.tool a span { display: block; }
.tool-brand { font-size: 0.8em; }
.tool-name {
  font-weight: bold;
}
.tool-tags {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #FFF;
  padding: 3px;
  font-size: 0.5em;
  font-weight: bold;
  color: #444;
}