.joined-on {
  text-align: left;
  color: #666;
  font-size: 0.8em;
  padding-left: 15px;
}

.row {padding-top: 10px;}

.projects {
  padding-top: 10px;
  padding-right: 5%;
  padding-left: 5%;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding-right: 10px;
    font-size: 2.0em;
    display: inline;
  }
}

.activity {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFF;
  ul {
    li {
      padding: 10px 10px 10px 10px;
      font-size: 0.9em;
      text-align: justify;
      border: none;
      span {
        display: table-cell;
      }
      .fa {
          color: #666;
          font-size: 1.2em;
          float: left;
          padding: 10px;
      }
    }
    li:nth-child(odd) {
      background: #F5F5F5;
      border-radius: 2px;
    }

  }
}

.lab-links, .lab-link {
    padding: 0px;
}

.employee, .works-at ul {
    list-style-type: none;
    padding:0px;
}

.works-at h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
}
