.projects {
  padding-top: 10px;
  padding-right: 5%;
  padding-left: 5%;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding-right: 10px;
    font-size: 2.0em;
    display: inline;
  }
}

.lab-links, .lab-link {
    padding: 0px;
}
