- title "Organizations"

.row.top
  .columns.large-8
    %ul.breadcrumbs
      %li.current Organizations

.row
  .columns.large-8.content
    #organizations-list
      .labs= render @organizations
    = paginate @organizations

  .columns.large-4.sidebar-offcanvas

    - if current_user
      .heading
        %strong Expand
        the Network
      = link_to new_organization_path, class: "button tiny success" do
        = fa_icon "plus", text: 'Add organization'


