- title "Organizations"

.row.top
  .col-lg-8
    %ol.breadcrumb
      %li Organizations

.row
  .col-lg-8.content
    #organizations-list
      .labs= render @organizations
    = paginate @organizations

  .col-lg-4.sidebar-offcanvas
    - if current_user
      .heading
        %strong Expand
        the Network
      = link_to new_organization_path, class: "btn btn-success" do
        = fa_icon "plus", text: 'Add organization'


