- title "Organizations"

.row.top
  %h2 Organizations
.row.row-no-padding
  .col-md-8
    %p
    A Fab Lab is a technical prototyping platform for innovation and invention, providing stimulus for local entrepreneurship. A Fab Lab is also a platform for learning and innovation: a place to play, to create, to learn, to mentor, to invent. To be a Fab Lab means connecting to a global community of learners, educators, technologists, researchers, makers and innovators- -a knowledge sharing network that spans 30 countries and 24 time zones. Because all Fab Labs share common tools and processes, the program is building a global network, a distributed laboratory for research and invention.

  .col-md-4
    - if current_user
      %h4 Expand the Network
      %p Here you can add your Organization to the list.
      = link_to new_organization_path, class: "btn btn-success" do
        = fa_icon "plus", text: 'Add a new Organization'


.row.top.row-no-padding
  .col-lg-12
    %ol.breadcrumb
      %li Organizations

.row
  .col-lg-8.content
    #organizations-list
      .labs= render @organizations
    = paginate @organizations

  .col-lg-4.sidebar-offcanvas
    %p
