%ol.breadcrumb
  %li.breadcrumb-item
    = link_to Machine.to_s.pluralize, machines_path
  - if @machine
    %li.breadcrumb-item
      = link_to @machine.brand, machines_path
    %li.breadcrumb-item.active= link_to @machine, @machine
