.row
  .col-lg-3.p-2
    %label
      Labs
    .selection-container
      .icon
        %span
          = icon('map-marker')
    .selections
      %ul
        - @machine.facilities.each do |c|
          - if c.lab_id.present?
            %li
              %span
                - if c.persisted?
                  = link_to icon('times'), facility_path(c), method: :delete
                - if c.lab.present?
                  = image_tag c.lab.avatar.thumb("90x90#").url, class: 'avatar tiny'

  .col-lg-9
    - @selected = @machine.facilities.collect
    = select_tag :facilities_attributes, options_from_collection_for_select(@selected, :id, :lab_id), { multiple: true, size: 10, name: 'machine[facilities_attributes][][lab_id]', class: 'lab_selection_attributes form-control'}
