.nested-fields
  .row
    .col-md-10.col-lg-5= f.input :description, label: false, placeholder: 'Guidebook'
    .col-md-10.col-lg-6= f.input :url, label: false, placeholder: 'http://www.myfablab.com'
    .col-md-2.col-lg-1= link_to_remove_association "x", f, class: 'btn btn-danger'
