- cache ["v1", Machine.last_updated_at] do
  .row
    .columns.large-12
      = render "breadcrumbs"
      - title "Machines"
  .row
    .columns.large-12

      - if current_or_null_user.can_create?(Machine)
        = link_to new_machine_path, class: "button tiny success" do
          = fa_icon "plus", text: t("views.labs.index.add_a_machine", default: "New Machine")


      %ul.large-block-grid-5.small-block-grid-2= render @machines


    -# .columns.large-3
    -#   -# %ul
    -#   -#   - Machine.new.tag_list.each do |tag|
    -#   -#     %li= tag
