- if resource.errors.any?
  .bs-callout.bs-callout-warning.errors
    %h2= "Uh oh. #{pluralize(resource.errors.count, "problem")} need(s) fixing before you can continue:"
    %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg
