.question
  .text-large.p-0
    %strong Links:

  = f.simple_fields_for :links do |link|
    = render 'link_fields', f: link
  .links
    = link_to_add_association f, :links, class: 'btn btn-default' do
      Add link
