.question
  .text-medium
    %strong Links:
    %span It can include blogs, social networks, video/photo sites etc.

  = f.simple_fields_for :links do |link|
    = render 'link_fields', f: link
  .links
    = link_to_add_association f, :links, class: 'btn btn-default' do
      Add link
