%fieldset
  %legend Links
  %p.hint It can include blogs, social networks, video/photo sites etc.
  = f.simple_fields_for :links do |link|
    = render 'link_fields', f: link
  .links
    = link_to_add_association f, :links, class: 'btn btn-primary' do
      = fa_icon "plus", text: 'Add another link'
