- if links.present?
  .heading External Links
  %ul.lab-links
    - links.each do |link|
      - cache ["v1", link] do
        %li.lab-link
          = link_to link.url do
            = url_icon(link.url)
            %span.url{itemprop: "sameAs"}= link.url
