- if links.present?
  %h5 Links
  %ul.lab-links
    - links.each do |link|
      - cache ["v1", link] do
        %li.lab-link
          = link_to link.url, target: "_blank" do
            -# = url_icon(link.url)
            %span.url{itemprop: "sameAs"}= link.url
