:javascript
  window.mapIcons = {
    planned_fab_lab: '#{image_path("map-icons/planned_fab_lab.png")}',
    mini_fab_lab: '#{image_path("map-icons/mini_fab_lab.png")}',
    fab_lab: '#{image_path("map-icons/fab_lab.png")}',
    supernode: '#{image_path("map-icons/supernode.png")}'
  }
