.heading
  = fa_icon "calendar", text: t("views.labs.show.upcoming_events", default: "Upcoming Events")

%ul.events
  - events.each do |event|
    %li
      = link_to event, [event.lab, event]
      - if event.starts_at
        \-
        = event.starts_at.stamp('Wed, 20th November')
