-# %hr/

-# %h5= t('labs.show.lab_facilities')
-# %ul.list-group
-#   %li.list-group-item 3D Printing
-#   %li.list-group-item Vinyl Cutting
-#   %li.list-group-item Large Format CNC
-# = link_to "#" do
-#   More facilities details »