- if links.length > 0
  .heading External Links
  %ul.lab-links
    - links.each do |link|
      - cache ["v1", link] do
        %li.lab-link
          = link_to link.url do
            = fa_icon 'link'
            %span.url{itemprop: "sameAs"}= link.url
