#lab-map{ data: { latitude: lab.latitude, longitude: lab.longitude, kind_name: lab.kind }}
-# = link_to "Directions", "https://maps.google.co.uk/maps?expflags=enable_star_based_justifications:true&ie=UTF8&f=d&daddr=#{@lab.latitude},#{@lab.longitude}"
