<base target="fab-list-frame">
.container-fluid#list
  .row.labs-list
    - cache ["v1-labsindex-#{I18n.locale}-#{Digest::MD5.hexdigest([params.to_s].to_s)}", Lab.last_updated_at] do
      .col-lg-12
        .labs= render @labs
        = paginate @labs
